<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :leader_name, class:'form-control', placeholder:'Leader Name' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :leader_IGN, class:'form-control', placeholder:'Leader IGN' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :member1_name, class:'form-control', placeholder:'Member 1 Name' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :member1_IGN, class:'form-control', placeholder:'Member 1 IGN' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :member2_name, class:'form-control', placeholder:'Member 2 Name' %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :member2_IGN, class:'form-control', placeholder:'Member 2 IGN' %>
  </div>

  <%= form.number_field :user_id, id: :team_user_id, value: current_user.id, type: :hidden %>

  <div class="action">
    <%= form.submit class:'btn btn-secondary' %> 
    <%= link_to 'Cancel', teams_path, class:'btn btn-secondary' %>
  </div>
<% end %>
