<div class="card">
  <div class="card-header">
    Resend unlock instructions</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'Email' %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions", class:'btn btn-secondary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>


